[branch]
	autosetuprebase = always
[user]
	name = Jordan
	email = jordanvenderbuhs@gmail.com
[log]
  date = short
[format]
  pretty = format:%C(yellow)%h %C(magenta)%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[core]
  excludesfile = ~/.gitignore
[alias]
  logg = log --graph
[pull]
	rebase = true
