[branch]
	autosetuprebase = always
[user]
	name = Jordan venderBuhs
	email = jordan.venderbuhs@gmail.com
[log]
  date = short
[format]
  pretty = format:%C(yellow)%h %C(magenta)%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[alias]
  logg = log --graph
[pull]
  rebase = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
	autoSetupRemote = true
